<ul>
<%for( var i in exhibitionData ){
    var id = exhibitionData[i].id;
    var title = exhibitionData[i].title;
    var year =parseInt(exhibitionData[i].time);
%>
    <li id="event-title-<%= id %>" class="event-main-title-list event-main-title-list-<%= year %>" data-id = "<%= id %>"><%= title %></li>
<%}%>
</ul>