<%

for(var i in countries){
    var country = i;
    var countryList = "";

    var countryClass = country.substring(0, 3).toLowerCase();


    for(var j in countries[i]['id']){
        if(j == 0){
            countryList = countries[i]['id'][j];
        }else{
            countryList += " " + countries[i]['id'][j];
        }

    }

%>

<li class="map-caption-list map-caption-list-<%= countryClass %>" data-country="<%= countryList %>"><%= country %></li>

<% } %>