<div class="event-item-collection event-item-collection-year-<%= year %>" id="event-items-<%= id %>">

    <%for( var i in contentItems ){
        var contentItem = contentItems[i];

        var uri = contentItem.uri;
        var eventID = 'eventItem' + contentItem.id;
    %>
        <div class="event-item-image" id="<%= eventID %>">

        </div>
    <%}%>

</div>