$timelineEventListTextColor: #aaa;
$linkTimeLineEventListTextColor: #999;

#description{
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0;
  width: 250px;

  font-weight: 100;
  font-size: 11px;
  color: $timelineEventListTextColor;

  #produced{

  }

  a{
    font-weight: 700;
    color: $timelineEventListTextColor;

    &:hover{
      color: $linkTimeLineEventListTextColor;
    }
  }
}