$timelineEventListTextColor: #dddddd;
$timelineEventListTextHoverColor: #fff;

#main-map{
  opacity: 0;
  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: -1;
  svg {
    path{
      stroke : #bbb;
      fill: #ddd;

      @include transition(0.6s all);

      &.non-selected{
        fill: #fafafa;
      }

      &.selected{

        fill: #ddd;

        &.onMouseOver{
          fill: #333 !important;
        }
      }

    }
  }

  // ============

  &.show-gallery{

    .map-caption{
      cursor: default;
      li{
        background: rgba( 255, 255, 255, 0);
        color: $timelineEventListTextColor;

        &:hover{
          background: rgba( 255, 255, 255, 0);
          color: $timelineEventListTextColor;
        }

        &.selected{
          font-weight: 800;
          background: rgba( 255, 255, 255, 0);
          color: $timelineEventListTextHoverColor;
          &:hover{
            background: rgba( 255, 255, 255, 0);
            color: $timelineEventListTextHoverColor;
          }
        }
      }
    }
  }


  .map-caption{
    cursor: pointer;
    position: absolute;
    z-index: 200;
    bottom: 110px;
    left:   2%;

    li{
      color: #999999;
      background: rgba( 255, 255, 255, 0.8);

      padding: 6px 12px;
      font-size: 12px;

      @include transition( 0.4s color, 0.6s background );

      &:hover{
        background: #666666;
        color: #ffffff;
      }

      &.selected{
        background: #666666;
        color: #ffffff;
      }
    }


  }

}