@import "compass/css3";
@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

@font-face {
  font-family: 'fontello';
  src: url('./fonts/fontello.eot?78750846');
  src: url('./fonts/fontello.eot?78750846#iefix') format('embedded-opentype'),
  url('./fonts/fontello.woff?78750846') format('woff'),
  url('./fonts/fontello.ttf?78750846') format('truetype'),
  url('./fonts/fontello.svg?78750846#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cancel:before { content: '\e800'; } /* 'î €' */

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 650px;

  @include box-sizing(border-box);
}

@import "loading";
@import "map";

@import "timeline/timeline";
@import "timeline/timeline-list";
@import "timeline/timeline-gallery";
