@import "compass/css3";
@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 650px;

  @include box-sizing(border-box);
}

@import "loading";
@import "map";

@import "timeline/timeline";
@import "timeline/timeline-list";
@import "timeline/timelineContent";
@import "timeline/timeline-gallery";
