//time line
$timelineHeight: 1px;
$timeVisualWidth: 1px;


$timelineColor4  : #333333;
$timelineColor3Number : rgba(105, 105, 105, 0.6);
$timelineColor3  : #666666;
$timelineColor2  : #999999;
$timelineColor1  : #bbbbbb;

$timelineColor5  : #cccccc;

$whiteBackColor  : #ffffff;
$whiteBackGround : rgba(255, 255, 255, 0.8);

$side : 20px;
$doubleSide : 20px;


#main-content{
  overflow: hidden;

  #timeline-wrapper{
    position: relative;

    #timeline-graphics-wrapper{
      //position: absolute;
    }

    #timeline-graphics{
      
      #timeline {
        position: absolute;
        top: 50px;
        background: $timelineColor2;

        width: 0;
        height: $timelineHeight;

        @include transition( 0.8s all ease-out);
      }

      // ----------

      .time-visual-line{
        background: $timelineColor2;
        position: absolute;
        width: $timeVisualWidth;

        @include transition( 0.3s all );

        &.invisible{
          opacity: 0;
        }
      }

    }

    &.timeline-gallery-show{
      #timeline-content{
        .emphasis{
          cursor: default;

          &:hover{
            color: $whiteBackColor;
            background: $timelineColor3;
          }
        }
      }
    }



    #timeline-content{
      p{
        padding: 2px 3px;
        position: absolute;
        font-size: 12px;
        @include transform-origin(0, 0);
      }

      #year-start{
        font-weight: 800;
        color: $timelineColor3;

        //@include translate( 10%, 100px );
      }

      #year-end{
        font-weight: 800;
        color: $timelineColor3;
        //@include translate( 90%, 100px );
      }

      .sub-time{
        cursor: default;

        font-weight: 300;
        color: $timelineColor1;
        background: rgba(100, 100, 100, 0);

        @include transition( 0.4s all);

        &.emphasis{
          color: $timelineColor2;
          font-weight: 800;

          &:hover{
            color: $whiteBackColor;
            background: $timelineColor3Number;
          }

        }

        &.selected{
          color: $whiteBackColor;
          background: $timelineColor3;
        }

        &.selectedAtHome{
          color: $whiteBackColor;
          background: $timelineColor3Number;
        }
      }

      .out-time{
        font-weight: 300;
        color: $timelineColor5;
      }

      .time-line-event-content-wrapper{
        opacity: 0;
        cursor: pointer;

        position: absolute;
        background: $whiteBackGround;

        margin-left: 8px;
        padding: 5px;

        @include transition(0.4s background, 0.3s color, 1s opacity, 0.5s margin-left, x 0.6s);

        &:hover {
          background: $timelineColor3Number;

          .time-line-event-content{
            color: $whiteBackColor;

          }
        }

        &.selected {

          background: $timelineColor3Number;
          margin-left: 0;

          .time-line-event-content{
            color: $whiteBackColor;

          }

          &:before{
            @include transition( 0.2s width );
            width: 0;
          }
        }

        &.not-selected{
          opacity: 0.2;
        }

        &:before{
          @include transition( 0.5s width 0.3s);

          content: '';
          position: absolute;
          background: $timelineColor2;
          width: 5px;
          height: 1px;
          top: 29px;
          left: -8px;
        }

        .time-line-event-content{
          position: relative;
          margin: 2px;
          margin-bottom: 8px;
          color: $timelineColor2;
          @include transform-origin(0, 0);
          @include transition(0.3s color);
        }

        // ----------

        .event-item-collection {
          margin: 2px;

          position: relative;
          @include transition( 0.6s opacity);
          opacity: 0;
          overflow: hidden;

          &.visible{
            opacity: 1;
          }

          .event-item-image{
            width: $side;
            height: $side;
            overflow: hidden;
            float: left;

            @include transition( 0.3s opacity);

            &.not-selected{
              opacity: 0.1;
            }

            &.display-none{
              display: none;
            }

            img{
              &.img-vertical{
                width: $doubleSide;
              }

              &.img-landscape{
                height: $doubleSide;
              }
            }
          }
        }
      }
    }
  }
}