$side : 20px;
$doubleSide : 20px;

$SCREEN_WIDTH: 800px;

$timelineBgColor1 : rgba(102, 102, 102, 0.6);


#timeline-events-gallery{
  position: absolute;
  background: $timelineBgColor1;

  width: 100%;
  height: 0;

  #time-line-gallery-wrapper{
    margin: auto;
    width: $SCREEN_WIDTH;
    overflow: hidden;

    #time-line-gallery-ul{
      width: ($SCREEN_WIDTH * 10);
      li{
        float: left;
        width: $SCREEN_WIDTH;
      }
    }
  }
}