$side : 80px;
$doubleSide : 80px;

#timeline-events-gallery{
  width: 1000%;
  position: absolute;
  //top: 400px;

  overflow: hidden;

  .event-item-collection{
    @include transition( 0.6s opacity);
    opacity: 0;
    //float: left;
    //overflow: hidden;

    &.visible{
     opacity: 1;
    }

    .event-item-image{
      width: $side;
      height: $side;
      overflow: hidden;
      float: left;

      &.display-none{
        display: none;

      }

      img{

        &.img-vertical{
          width: $doubleSide;
        }

        &.img-landscape{
          height: $doubleSide;
        }
      }
    }
  }
}