$side : 20px;
$doubleSide : 20px;

#timeline-events-gallery{


  //top: 400px;

  //overflow: hidden;

  .event-item-collection{
    position: absolute;

    @include transition( 0.6s opacity);
    opacity: 0;
    overflow: hidden;

    &.visible{
     opacity: 1;
    }

    .event-item-image{
      width: $side;
      height: $side;
      overflow: hidden;
      float: left;

      &.display-none{
        display: none;
      }

      img{

        &.img-vertical{
          width: $doubleSide;
        }

        &.img-landscape{
          height: $doubleSide;
        }
      }
    }
  }
}