//time line
$timelineHeight: 1px;
$timeVisualWidth: 1px;

$timelineColor4  : #333333;
$timelineColor3  : #666666;
$timelineColor2  : #999999;
$timelineColor1  : #bbbbbb;

$timelineColor5  : #cccccc;

$whiteBackColor  : #ffffff;
$whiteBackGround : rgba(255, 255, 255, 0.8);

$side : 20px;
$doubleSide : 20px;


#main-content{
  #timeline-wrapper{
    position: absolute;
    overflow: hidden;
    #timeline-graphics-wrapper{
      position: absolute;
    }

    #timeline-graphics{
      
      #timeline {
        position: absolute;
        top: 100px;
        background: $timelineColor2;

        width: 0;
        height: $timelineHeight;

        @include transition( 0.8s all ease-out);
      }

      // ----------

      .time-visual{
        background: $timelineColor2;
        position: absolute;
        width: $timeVisualWidth;
      }

    }

    #timeline-content{
      p{
        padding: 2px 3px;
        position: absolute;
        font-size: 12px;
        @include transform-origin(0, 0);
      }

      #year-start{
        font-weight: 800;
        color: $timelineColor3;

        //@include translate( 10%, 100px );
      }

      #year-end{
        font-weight: 800;
        color: $timelineColor3;
        //@include translate( 90%, 100px );
      }

      .sub-time{
        font-weight: 300;
        color: $timelineColor1;

        &.emphasis{
          color: $timelineColor2;
          font-weight: 800;
        }

        &.selected{
          color: $whiteBackColor;
          background: $timelineColor3;
        }
      }

      .out-time{
        font-weight: 300;
        color: $timelineColor5;
      }

      .time-line-event-content-wrapper{
        cursor: pointer;

        position: absolute;
        background: $whiteBackGround;

        margin-left: 8px;
        padding: 5px;

        @include transition(0.5s background, 0.3s color);

        &:hover {
          background: $timelineColor3;

          .time-line-event-content{
            color: $whiteBackColor;

          }
        }

        &:before{
          content: '';
          position: absolute;
          background: $timelineColor2;
          width: 5px;
          height: 1px;
          top: 7px;
          left: -8px;
        }

        .time-line-event-content{
          position: relative;
          margin: 2px;
          margin-bottom: 8px;
          color: $timelineColor2;
          @include transform-origin(0, 0);
        }

        // ----------

        .event-item-collection {
          margin: 2px;

          position: relative;
          @include transition( 0.6s opacity);
          opacity: 0;
          overflow: hidden;

          &.visible{
            opacity: 1;
          }

          .event-item-image{
            width: $side;
            height: $side;
            overflow: hidden;
            float: left;

            &.display-none{
              display: none;
            }

            img{
              &.img-vertical{
                width: $doubleSide;
              }

              &.img-landscape{
                height: $doubleSide;
              }
            }
          }
        }
      }
    }
  }
}